.githubContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 8px;
  padding: 1rem;
}

.githubContainerInner {
  display: flex;
  gap: 16px;
}

.githubContainerInner input {
  padding: 0.5rem 1rem;
  font-size: 15px;
  font-weight: 500;
  border: none;
}

.githubContainerInner button {
  padding: 5px 15px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background-color: #000000;
  color: aliceblue;
  cursor: pointer;
}

.userCardContainer {
  background-color: #fce4ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(250, 205, 205);
  width: 70%;
  gap: 5px;
  margin: auto;
  margin-top: 3rem;
  padding: 1rem;
}

.userCardImg img {
  border-radius: 50%;
  height: 150px;
  aspect-ratio: 1/1;
}

.userCardInfo {
  display: flex;
  /* flex-direction: column; */
  gap: 16px;
}

.userCardInfo a {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 500;
}

.userCardInfo p {
  margin: 8px;
  font-size: 20px;
  text-shadow: 0 0 1px #0b0b0b;
  font-weight: 600;
}

.userCardDetaile {
  display: flex;
  margin-top: 22px;
  gap: 36px;
}

.userCardDetaile p {
  margin: 8px;
  font-size: 20px;
  font-weight: 500;
  text-shadow: 0 0 1px #0b0b0b;
}
