.scrollContainer {
  /* margin-top: 50px; */
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  background-color: black;
}
.scrollContainer h1 {
  color: white;
}
.scrollProgressTrackingContainer {
  width: 100%;
  height: 10px;
  background-color: #f50057;
}

.currentProgressBar {
  width: 0%;
  height: 10px;
  background-color: #aaf900;
}
