.scrollToTopBottom {
  background-color: #e0f7fa;
}
.scrollToTopBottom h1,
h3 {
  margin: 0;
}
.scrollToTopBottom button {
  padding: 0.6rem 0.8rem;
  background-color: #f48fb1;
  border: none;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
}

.scrollToTopBottom button:hover {
  background-color: #ec407a;
}
